.country{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.visited{
    background-color: skyblue;
}

.flagCountries{
    width: 100px;
    height: 50px;
    object-fit: cover;
}